#search-bar {
  width: calc(100vw - 320px);
  background-color: lightgrey;

}

#search-input {
  padding-left: 12px !important;
  background-color: white !important;
  border-radius: 5px !important;
}

#search-icon{
  padding-right: 50px !important;
}

#main-view {
  margin: 5vw 5vw !important;
  width: auto;
}

.item-image {
  height: calc(30vh - 2em) !important;
  display: block !important;
}

.item-card:hover {
  box-shadow: 0 0 8px #9ab9ea;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#logo-logged-out{
  position:absolute;
  padding-left: 1%;
  padding-top: 2%;
  font-size: 370%;
  top: 0%;
  left: center;
}

#log-out-screen{
  display: flex;
  align-items:center;
  justify-content: center;
}


#logo-logged-in{
background-color: lightgrey;
border-radius: 0px;
}

#logout-button{
  background-color: darkgrey !important;
}

#logout-button-surrounding{
  background-color: lightgrey !important;
}

#search-choice-button{
  background-color: darkgrey !important;
  margin-right: 12px;
}

#filter-button{
  background-color: darkgrey;
  font-size: 14px;
  padding: 10px !important;
  margin-left: 15px;
}

#header {
  padding: 15px 5px 5px 5px !important;
  margin-bottom: 30px;
}

#filter-sidebar {
  padding: 20px;
}

#filter-header {
  margin: 15px;
}

#filter-search-container,
#filter-tags-table,
#filter-type-form,
#sort-container {
  margin-top: 40px;
}

#filter-search-bar {
  border-radius: 5px;
}

#error-container {
  padding-top: 10px;
  padding-left: 5px;
  color: #8b0000;
  display: none;
}

.filter-type, .sort-type {
  margin-right: 15px !important;
}
