
#search-bar { 
  width: calc(100vw - 262px);
}

#search-input {
  padding-left: 12px !important;
}

#main-view {
  /* border: 1px solid red; */
  margin: 2vw 5vw !important;
  width: auto;
}

.item-card {
  height: 30vh;
  width: 25vh;
  /* align-items: center; */
}

.item-image {
  height: calc(30vh - 2em) !important;
  display: block !important;
}
